description "{{deployment_name}} [{{mode}}]"
start on runlevel [2345]
stop on runlevel [06]
respawn
respawn limit 10 5
chdir /home/{{deployment_name}}/{{mode}}/noisereporter_backend
env PYTHON_PATH="/home/{{deployment_name}}/{{mode}}/noisereport_backend/env/"
env DJANGO_SETTINGS_MODULE="{{deployment_name}}.settings.{{ mode }}"
env DJANGO_SECRET_KEY="{{secret_key}}"
env DJANGO_CONFIGURATION="{{mode}}"

env NOISEREPORT_DB_USER="{{ db_user }}"
env NOISEREPORT_DB_PASSWORD="{{ db_password }}"
env NOISEREPORT_HOSTNAME="{{ hikeit_hostname }}"

exec /home/{{deployment_name}}/{{mode}}/env/bin/gunicorn {{deployment_name}}.wsgi:application
